# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs/
*.log
debug.log
error.log

# Environment variables
.env
.env.local

# Compiled files
dist/
build/
*.cache

# Database
*.sqlite
*.sqlite-wal
*.sqlite-shm
mongodb/

# Editor files
.vscode/
.idea/
.DS_Store
