JWT_SECRET = "wretrytyfhgvhbjuidffvgbertyukjfdfgnmh"
ADMIN_EMAIL = "Enter Email"
ADMIN_PASSWORD = "Enter Password"

MONGODB_URI = "Enter MONGODB_URI from your MONGODB Account"

CLOUDINARY_API_KEY = ""
CLOUDINARY_SECRET_KEY = ""
CLOUDINARY_NAME = ""

STRIPE_SECRET_KEY = ""

RAZORPAY_KEY_SECRET = '-------- Paste Razorpay Secret key --------'
RAZORPAY_KEY_ID = '-------- Paste Razorpay key Id --------'

FRONTEND_URL=http://localhost:5173


EMAIL_USER=support@example.in
EMAIL_PASS=""
SMTP_HOST=smtpout.example.net
SMTP_PORT=""
SMTP_SECURE=true
FROM_EMAIL=support@example.in
TEST_RECEIVER=youremailid@gmail.com